.bgimg{
    background-image: url(../blog/images/samjho.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 950px;
}

.headerset{
    padding: 300px;
    box-sizing: border-box;
    margin-top: 300px;
}

.headerset h1{
    font-size: 70px;
    font-weight: bolder;
    font-family: cursive;
    transition: 0.7s ease;
}
.headerset h6{
    font-size: 24px;
    padding: 10px;
}

.headerset h1:hover{
    font-size: 74px;
    color: darkgray;
}
.headerset h6:hover{
    font-size: 28px;
    color: darkgray;
}

@media only screen and (max-width :800px){
          .headerset h1{ font-size: 70px;
                        font-weight: bolder;
                        font-family: cursive;
                        transition: 0.7s ease;}

                           .headerset{
                            padding: 300px;
                            box-sizing: border-box;
                            margin-top: 100px;}
 }
.Posts{
    color: rgb(0, 0, 0 );
    margin-top: 300px;
    font-size: 56px;
    margin-bottom: 15px;
}                    

.navbar-nav li a{
    transition: 0.7 ease;
    margin: 10px;
}

.navbar-nav li a:hover{
    background-color: black;
}

section{
    padding: 20px;
    margin: 20px;
}

.card-group{
    margin: 25px;
    transition: 0.7 ease;
}

.card{
    margin: 25px;
}
   
/* .card:hover{
    opacity: 0.3;
} */